*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.footer {
  background-color: black;
  display: flex;
  min-height: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

#social-logo {
  width: 50px;
  transition: .2s ease;
}
#social-logo:hover {
  scale: 1.1;
}

#copyright {
  margin-top: 2rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
